<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" parallel="tests" thread-count="5">

	<listeners>
		<listener class-name="testNGTests.Listener"></listener>
	</listeners>
	
	<parameter name="URL"
		value="https://rahulshettyacademy.com/angularpractice/"></parameter>
	<test thread-count="5" name="Test">
		<groups>
			<run>
				<include name="Smoke">
				</include>

			</run>
		</groups>
		<classes>
			<class name="testNGTests.testNG1">
				<methods>
					<include name="demo3"></include>
				</methods>
			</class>
		</classes>
	</test> <!--
	Test -->

	<test name="Test2">
		<classes>
			<class name="testNGTests.testNG2"></class>
		</classes>
	</test>
	<test name="Test3">
		<classes>
			<class name="testNGTests.parameteizationTestNG"></class>
		</classes>
	</test>
</suite> <!--
Suite -->
